@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

:root {
    Almost_White: hsl(0, 0%, 98%);
    Medium_Gray: hsl(0, 0%, 41%);
    Almost_Black: hsl(0, 0%, 8%);

}


* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* navbar */

button{
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: hsl(0, 0%, 98%);
}
a{
    color: hsl(0, 0%, 41%);
}

.navbar {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    /* box-shadow: 1px 1px 5px 0px black; */
}

.logo a{
    font-size: 2.6rem;
    font-weight:bold;
    color: hsl(0, 0%, 8%);
    margin: 1rem;
}

/*  */
.nav{
    color: hsl(0, 0%, 41%);
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.nav a:hover{
    color: hsl(0, 0%, 8%);
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-btn{
    border: none;
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
    margin-left: 1rem;
}
.dropdown-btn:hover{
    color: hsl(0, 0%, 8%);
}
.dropdown-btn:hover .upkey{
    display: inline;
}
.dropdown-btn:hover .downkey{
    display: none;
}

.upkey{
    display: none;
}

.drpContent{
    display: none;
    z-index: 1;
    background-color: rgb(246, 242, 242);
    border-radius: 10px;
    width: 200px;
}

.drpContent a{
    color: hsl(0, 0%, 41%);
    display: block;
    padding: 10px;
    font-size: 1rem;
    
}

.drpContent a:hover{
    color: hsl(0, 0%, 8%);
}

.dropdown:hover .drpContent{
    display: inline;
    position: absolute;
    top: 1.4em;
    left: 10%;
}

.links{
    padding: 10px;
}

.box{
    display: flex;
    align-items: center;
}

.btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: hsl(0, 0%, 41%);
}

.login{
    margin-right: 1rem;
    margin-left: auto;
}
.login:hover{
    color: hsl(0, 0%, 8%);
}

.login{
    border:  none;
}
.register{
    padding: 4px;
    border-radius: 6px;
    border-color: hsl(0, 0%, 41%);
}
.register:hover{
    border-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}

/* FOR responsiveness */

input[type="checkbox"] {
    display: none;
}

.menu-btn{
    display: none;
}

@media only screen and (max-width: 650px){

    .menu-btn{
        display: inline;
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 0%;
        right: 0%;
        height: 100%;
        padding-top: 5rem;
        width: 50%;
        /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
        /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
        /* clip-path: circle(25px at calc(0% + 45px) 45px); */
        background: hsl(36, 100%, 99%);
        clip-path: circle(25px at calc(100% - 20px) 20px);
        transition: all 0.3s ease-in-out
    }
    .btn{
        position: initial;
        margin: 1rem;
    }

    .dropdown{
        margin-left: 1rem;
    }

    #active:checked~.nav {
        clip-path: circle(75%);
    }
    .menu-btn {
        position: absolute;
        z-index: 2;
        right: 10px;
        /* left: 20px; */
        top: 10px;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: rgb(0, 0, 0);
        cursor: pointer;
        background: rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;
    }
    #active:checked~.menu-btn {
        color: rgb(0, 0, 0);
    }

    #active:checked~.menu-btn i:before {
        content: "\f00d";
    }

    @keyframes rotate {
        0% {
            filter: hue-rotate(0deg);
        }

        100% {
            filter: hue-rotate(360deg);
        }
    }
}

/* content starts here */

.content{
    display: flex;
    width: 75vw;
    height: auto;
    margin: auto auto;
    margin-top: 2rem;
}

.content .texts{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    margin-top: auto;
    padding: 10px;
}
.text h1{
    font-size: 4em;
    font-weight: 900;
    font-weight: bolder;
    color: hsl(0, 0%, 8%);
    margin-bottom: 5px;
}
.text p{
    color: hsl(0, 0%, 41%);
    font-size: 20px;
    font-weight: 400;
}

.text button{
    background-color:hsl(0, 0%, 8%);
    color: hsl(36, 100%, 99%);
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 600;
}
.text button:hover{
    background-color:hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);

}

.company{
    display: table-row-group;
    margin-right: auto;
    margin-top: auto;
    height: fit-content;
}
.company svg{
    margin: 1rem;
}

.image picture img{
    width: 30vw;
}



@media only screen and (max-width:1000px){
    .text h1{
        font-size: 2rem;
        font-weight: bolder
    }
    .text p{
        font-size: 18px;
    }
    .text button{
        font-size: 15px;
    }

    .company svg{
        margin: auto;
    }
    .image picture img{
        width: 45vw;
    }
}

@media only screen and (max-width:650px){
    .content{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        padding: 10px;
        align-items: center;
    }

    .image picture img{
        width: 100%;
    }

    .texts{
        width: 100%;
    }
    .text{
        width: 90vw;
    }
    .company{
        display:inline-block;
        margin: 0;
        padding: 10px;
        width: fit-content;
    }
    .company svg{
        margin-left: 5px;
        margin: 2px;
    }
}


.attribution{
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 2rem;
}


